flows.json
[{"id":"67e783a4.fa5d1c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f4fa39d6.1a1eb8","type":"ibmiot in","z":"67e783a4.fa5d1c","authentication":"apiKey","apiKey":"3b6242d3.a7b19e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"0001","applicationId":"","deviceType":"pressurized-water-reactor","eventType":"iotsensor","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":90,"y":360,"wires":[["c9baada5.b784f","27e84baa.69efc4","dfd2a490.bb7288","eaf72bcc.eb7bd8","2cf27a91.1b7536","bb6d375b.1e4df8","9c6820bc.3a003","54360eba.5e78f","84fc042d.f9a808","d0a06ce8.04b4a","27b693ef.d22bdc","8517b203.be645","133f9ed9.ae7351"]]},{"id":"c9baada5.b784f","type":"function","z":"67e783a4.fa5d1c","name":"Power_range_sensor_1","func":"msg.payload=msg.payload.Power_range_sensor_1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":40,"wires":[["f18c0816.5ce1e8"]]},{"id":"bb6d375b.1e4df8","type":"function","z":"67e783a4.fa5d1c","name":"Pressure_sensor_3","func":"msg.payload=msg.payload.Pressure_sensor_3\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":400,"wires":[["73ba79cd.725718"]]},{"id":"2cf27a91.1b7536","type":"function","z":"67e783a4.fa5d1c","name":"Pressure _sensor_2","func":"msg.payload=msg.payload.Pressure_sensor_2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":340,"wires":[["d1f81b9c.325018"]]},{"id":"dfd2a490.bb7288","type":"function","z":"67e783a4.fa5d1c","name":"Power_range_sensor_3","func":"msg.payload=msg.payload.Power_range_sensor_3\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":160,"wires":[["cd85d4ae.f5a928"]]},{"id":"27e84baa.69efc4","type":"function","z":"67e783a4.fa5d1c","name":"Power_range_sensor_2","func":"msg.payload=msg.payload.Power_range_sensor_2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":100,"wires":[["77e8198f.6d1df8"]]},{"id":"eaf72bcc.eb7bd8","type":"function","z":"67e783a4.fa5d1c","name":"Power_range_sensor_4","func":"msg.payload=msg.payload.Power_range_sensor_4\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":220,"wires":[["db611c07.71c6"]]},{"id":"9c6820bc.3a003","type":"function","z":"67e783a4.fa5d1c","name":"Pressure_sensor_4","func":"msg.payload=msg.payload.Pressure_sensor_4\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":460,"wires":[["1ca61257.3dfa3e"]]},{"id":"54360eba.5e78f","type":"function","z":"67e783a4.fa5d1c","name":"Vibration_sensor_1","func":"msg.payload=msg.payload.Vibration_sensor_1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":520,"wires":[["a7cff188.28a5f"]]},{"id":"84fc042d.f9a808","type":"function","z":"67e783a4.fa5d1c","name":"Vibration_sensor_2","func":"msg.payload=msg.payload.Vibration_sensor_2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":580,"wires":[["53a1e26.8b4d51c"]]},{"id":"27b693ef.d22bdc","type":"function","z":"67e783a4.fa5d1c","name":"Vibration_sensor_4","func":"msg.payload=msg.payload.Vibration_sensor_4\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":700,"wires":[["b40d3002.9c804"]]},{"id":"d0a06ce8.04b4a","type":"function","z":"67e783a4.fa5d1c","name":"Vibration_sensor_3","func":"msg.payload=msg.payload.Vibration_sensor_3\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":640,"wires":[["c7d6d371.8d57b"]]},{"id":"f18c0816.5ce1e8","type":"ui_gauge","z":"67e783a4.fa5d1c","name":"","group":"eae60f9f.a59","order":1,"width":0,"height":0,"gtype":"gage","title":"Power_range_sensor_1","label":"W","format":"{{value}}","min":"0,0403","max":"16,3568","colors":["#00b500","#e6e600","#ce3b3b"],"seg1":"","seg2":"","x":810,"y":40,"wires":[]},{"id":"77e8198f.6d1df8","type":"ui_gauge","z":"67e783a4.fa5d1c","name":"","group":"eae60f9f.a59","order":2,"width":0,"height":0,"gtype":"gage","title":"Power_range_sensor_2","label":"W","format":"{{value}}","min":"0,0403","max":"16,3568","colors":["#00b500","#e6e600","#ce3b3b"],"seg1":"","seg2":"","x":810,"y":100,"wires":[]},{"id":"cd85d4ae.f5a928","type":"ui_gauge","z":"67e783a4.fa5d1c","name":"","group":"eae60f9f.a59","order":3,"width":0,"height":0,"gtype":"gage","title":"Power_range_sensor_3","label":"W","format":"{{value}}","min":"0,0403","max":"16,3568","colors":["#00b500","#e6e600","#ce3b3b"],"seg1":"","seg2":"","x":810,"y":160,"wires":[]},{"id":"db611c07.71c6","type":"ui_gauge","z":"67e783a4.fa5d1c","name":"","group":"eae60f9f.a59","order":4,"width":0,"height":0,"gtype":"gage","title":"Power_range_sensor_4","label":"W","format":"{{value}}","min":"0,0403","max":"16,3568","colors":["#00b500","#e6e600","#ce3b3b"],"seg1":"","seg2":"","x":810,"y":220,"wires":[]},{"id":"d87bde4.70caf2","type":"ui_gauge","z":"67e783a4.fa5d1c","name":"","group":"77c12c84.18aca4","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressure_sensor_1","label":"hPa","format":"{{value}}","min":"0,0058","max":"65,4305","colors":["#00b500","#e6e600","#ce3b3b"],"seg1":"","seg2":"","x":790,"y":280,"wires":[]},{"id":"d1f81b9c.325018","type":"ui_gauge","z":"67e783a4.fa5d1c","name":"","group":"77c12c84.18aca4","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressure_sensor_2","label":"hPa","format":"{{value}}","min":"0,0058","max":"9,2293","colors":["#00b500","#e6e600","#ce3b3b"],"seg1":"","seg2":"","x":790,"y":340,"wires":[]},{"id":"73ba79cd.725718","type":"ui_gauge","z":"67e783a4.fa5d1c","name":"","group":"77c12c84.18aca4","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressure_sensor_3","label":"hPa","format":"{{value}}","min":"0,0058","max":"12,6475","colors":["#00b500","#e6e600","#ce3b3b"],"seg1":"","seg2":"","x":790,"y":400,"wires":[]},{"id":"1ca61257.3dfa3e","type":"ui_gauge","z":"67e783a4.fa5d1c","name":"","group":"77c12c84.18aca4","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressure_sensor_4","label":"hPa","format":"{{value}}","min":"0,0058","max":"15,1085","colors":["#00b500","#e6e600","#ce3b3b"],"seg1":"","seg2":"","x":790,"y":460,"wires":[]},{"id":"c7d6d371.8d57b","type":"ui_gauge","z":"67e783a4.fa5d1c","name":"","group":"9d5c6ffc.98621","order":1,"width":0,"height":0,"gtype":"gage","title":"Vibration_sensor_1","label":"Hz","format":"{{value}}","min":"0,0092","max":"53,2384","colors":["#00b500","#e6e600","#ce3b3b"],"seg1":"","seg2":"","x":790,"y":640,"wires":[]},{"id":"a7cff188.28a5f","type":"ui_gauge","z":"67e783a4.fa5d1c","name":"","group":"9d5c6ffc.98621","order":1,"width":0,"height":0,"gtype":"gage","title":"Vibration_sensor_1","label":"Hz","format":"{{value}}","min":"0,0092","max":"53,2384","colors":["#00b500","#e6e600","#ce3b3b"],"seg1":"","seg2":"","x":790,"y":520,"wires":[]},{"id":"53a1e26.8b4d51c","type":"ui_gauge","z":"67e783a4.fa5d1c","name":"","group":"9d5c6ffc.98621","order":1,"width":0,"height":0,"gtype":"gage","title":"Vibration_sensor_1","label":"Hz","format":"{{value}}","min":"0,0092","max":"53,2384","colors":["#00b500","#e6e600","#ce3b3b"],"seg1":"","seg2":"","x":790,"y":580,"wires":[]},{"id":"b40d3002.9c804","type":"ui_gauge","z":"67e783a4.fa5d1c","name":"","group":"9d5c6ffc.98621","order":1,"width":0,"height":0,"gtype":"gage","title":"Vibration_sensor_1","label":"Hz","format":"{{value}}","min":"0,0092","max":"53,2384","colors":["#00b500","#e6e600","#ce3b3b"],"seg1":"","seg2":"","x":790,"y":700,"wires":[]},{"id":"8517b203.be645","type":"function","z":"67e783a4.fa5d1c","name":"Pressure _sensor_1","func":"msg.payload=msg.payload.Pressure_sensor_1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":280,"wires":[["d87bde4.70caf2"]]},{"id":"36bb3e3a.c4edd2","type":"http request","z":"67e783a4.fa5d1c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":900,"wires":[["670c0d0.23452f4"]]},{"id":"133f9ed9.ae7351","type":"function","z":"67e783a4.fa5d1c","name":"pre_token","func":"global.set(\"power1\",msg.payload.Power_range_sensor_1)\nglobal.set(\"power2\",msg.payload.Power_range_sensor_2)\nglobal.set(\"power3\",msg.payload.Power_range_sensor_3)\nglobal.set(\"power4\",msg.payload.Power_range_sensor_4)\nglobal.set(\"pressure1\",msg.payload.Pressure_sensor_1)\nglobal.set(\"pressure2\",msg.payload.Pressure_sensor_2)\nglobal.set(\"pressure3\",msg.payload.Pressure_sensor_3)\nglobal.set(\"pressure4\",msg.payload.Pressure_sensor_4)\nglobal.set(\"vibration1\",msg.payload.Vibration_sensor_1)\nglobal.set(\"vibration2\",msg.payload.Vibration_sensor_2)\nglobal.set(\"vibration3\",msg.payload.Vibration_sensor_3)\nglobal.set(\"vibration4\",msg.payload.Vibration_sensor_4)\nvar apikey = \"WNjmv_ZOuuVwfBNXj_UuBnTooHG_BTKhoTywPUFuu7SY\";\nmsg.headers={\"content-type\": \"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1060,"wires":[["36bb3e3a.c4edd2"]]},{"id":"670c0d0.23452f4","type":"function","z":"67e783a4.fa5d1c","name":"pre_prediction","func":"var power1 = global.get(\"power1\")\nvar power2 = global.get(\"power2\")\nvar power3 = global.get(\"power3\")\nvar power4 = global.get(\"power4\")\nvar pressure1 = global.get(\"pressure1\")\nvar pressure2 = global.get(\"pressure2\")\nvar pressure3 = global.get(\"pressure3\")\nvar pressure4 = global.get(\"pressure4\")\nvar vibration1 = global.get(\"vibration1\")\nvar vibration2 = global.get(\"vibration2\")\nvar vibration3 = global.get(\"vibration3\")\nvar vibration4 = global.get(\"vibration4\")\nvar token = msg.payload.access_token\nmsg.headers = {\"content-type\": \"application/json\",\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload = {\"input_data\": [{\"fields\": [[\"Power_range_sensor1\",\"Power_range_sensor2\",\"Power_range_sensor3\",\"Power_range_sensor4\",\"Pressure_sensor1\",\"Pressure_sensor2\",\"Pressure_sensor3\",\"Pressure_sensor4\",\"Vibration_sensor1\",\"Vibration_sensor2\",\"Vibration_sensor3\",\"Vibration_sensor4\"]],\"values\": [[power1,power2,power3,power4,pressure1,pressure2,pressure3,pressure4,vibration1,vibration2,vibration3,vibration4]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1100,"wires":[["c0ea9cb8.22321"]]},{"id":"c0ea9cb8.22321","type":"http request","z":"67e783a4.fa5d1c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/da3e40fe-4ca9-4ea8-aee1-50ed47305dfc/predictions?version=2021-03-01","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":880,"wires":[["df6d9493.8eca08"]]},{"id":"df6d9493.8eca08","type":"function","z":"67e783a4.fa5d1c","name":"parsing","func":"var power1 = global.get(\"power1\")\nvar power2 = global.get(\"power2\")\nvar power3 = global.get(\"power3\")\nvar power4 = global.get(\"power4\")\nvar pressure1 = global.get(\"pressure1\")\nvar pressure2 = global.get(\"pressure2\")\nvar pressure3 = global.get(\"pressure3\")\nvar pressure4 = global.get(\"pressure4\")\nvar vibration1 = global.get(\"vibration1\")\nvar vibration2 = global.get(\"vibration2\")\nvar vibration3 = global.get(\"vibration3\")\nvar vibration4 = global.get(\"vibration4\")\nvar output = msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",output)\nmsg.payload = {\n    details:{\n        values:{\n            Power_range_sensor_1:power1,\n            Power_range_sensor_2:power2,\n            Power_range_sensor_3:power3,\n            Power_range_sensor_4:power4,\n            Pressure_sensor_1:pressure1,\n            Pressure_sensor_2:pressure2,\n            Pressure_sensor_3:pressure3,\n            Pressure_sensor_4:pressure4,\n            Vibration_sensor_1:vibration1,\n            Vibration_sensor_2:vibration2,\n            Vibration_sensor_3:vibration3,\n            Vibration_sensor_4:vibration4,\n            output:output\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1100,"wires":[["f32148b3.754ba8"]]},{"id":"f32148b3.754ba8","type":"function","z":"67e783a4.fa5d1c","name":"output","func":"msg.payload=msg.payload.details.values.output\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":1060,"wires":[["1372ee6d.8653e2"]]},{"id":"c68232e9.3a5b8","type":"ui_template","z":"67e783a4.fa5d1c","group":"9d5c6ffc.98621","name":"","order":3,"width":"6","height":"6","format":"<style>\n    .nr-dashboard-text{\n        color:green !important;\n        text-align: left !important;  \n        }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1240,"y":860,"wires":[["1372ee6d.8653e2"]]},{"id":"1372ee6d.8653e2","type":"ui_text","z":"67e783a4.fa5d1c","group":"77c12c84.18aca4","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1560,"y":860,"wires":[]},{"id":"3b6242d3.a7b19e","type":"ibmiot","name":"ibmiot","keepalive":"60","serverName":"kj4e5g.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"eae60f9f.a59","type":"ui_group","name":"Power range sensor","tab":"5ac6e3b7.02a18c","order":1,"disp":true,"width":"7","collapse":false},{"id":"77c12c84.18aca4","type":"ui_group","name":"Pressure sensor","tab":"5ac6e3b7.02a18c","order":2,"disp":true,"width":"7","collapse":false},{"id":"9d5c6ffc.98621","type":"ui_group","name":"Vibration sensor","tab":"5ac6e3b7.02a18c","order":3,"disp":true,"width":"7","collapse":false},{"id":"5ac6e3b7.02a18c","type":"ui_tab","name":"Sensor monitoring","icon":"dashboard","disabled":false,"hidden":false}]